.box{

 display: flex;
 justify-content: center;
 align-items: center;
 font-family:"Gowun Batang", serif;
 border: 2px solid #191d88; /* Primary color */
 padding: 70px;
 background-color: var(--primary-color); /* Background color */
 border-radius: 8px;
 max-width: 400px;
 margin: 50px auto; /* Centering the box horizontally */
 text-align: center;
 
}

